<div class="wrapper" *ngIf="!auth.isAuthenticated">
  <div class="block">
    <form [formGroup]="login" (ngSubmit)="loginSubmit()">

      <div style = "margin:-100px 0px 0px 290px;" class="language-picker-area">
        <div class="picker-label" ></div>
        <select (change)="selectLanguage($event)" class="language-picker">
          <option value="en"> {{ 'language.english' | translate }} </option>
          <option value="ur"> {{ 'language.urdu' | translate }} </option>
        </select>
      </div>

      <h2>{{'SIGN IN' | translate}}</h2>
      <input type="email" placeholder="{{'ENTER EMAIL' | translate | uppercase}}" formControlName="email" class="inp" required />

      <div *ngIf="f.email.touched && f.email.invalid" style="color: white; margin-left: 25px">
        <div *ngIf="f.email.errors && f.email.errors.required">
          Email is required.
        </div>
        <div *ngIf="f.email.errors && f.email.errors.email">
          Please, enter valid email address.
        </div>
      </div>

      <input  type="password" placeholder="{{'ENTER PASSWORD' | translate | uppercase}}" formControlName="password" class="inp" required />

      <div *ngIf="credInvalid" style="color: white; margin-left: 25px">Invalid Username Or Password</div>

      <div *ngIf="f.password.touched && f.password.invalid" style="color: white; margin-left: 25px">
        <div *ngIf="f.password.errors && f.password.errors.required">
          Password is required
        </div>
        <div *ngIf="f.password.errors && f.password.errors.password">
          Please, enter valid Password.
        </div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 Inputs
        </div>
        <div *ngIf="f.password.errors.maxlength">
          Password must not exceed 15 Inputs
        </div>
      </div>

      <div class="btns">
        <button type="submit" [disabled]="login.invalid">{{'SIGN IN' | translate}}</button>
        <button (click)="goToSignUp()">{{'SIGN UP' | translate}}</button>
      </div>
      <!-- <button mat-raised-button color="accent" style="color: white; margin: 20px 10px 10px 17px; border-radius: 25px; height: 40px;" (click)="goToResetPassword()">Forgot Password</button>
      <span class="or"><span class="orInner">Or</span></span> -->
      <!-- Continue with Google -->
        <!-- <button type="button" class="btn googleBtn" (click)="loginGoogle()">
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button> -->
    </form>

  </div>


</div>









<!--
<div class="content">
  <h1>
    {{ 'title' | translate }}
  </h1>
  <h3>
    {{ 'welcome_text' | translate }}
  </h3>
  <button class="info">
    {{ 'info' | translate }}
  </button>
</div> -->
