.block{
    width: 380px;
    height: 480px;
    border: 1px solid gray;
    background: linear-gradient(123deg,red,blue);
    align-items: center;
    justify-content: center;
}
.inp{
    padding: 10px 30px;
    margin: 10px 15px 10px 15px;
    width: 80%;
    border: 1px solid gray;
    border-radius: 25px;
}
.btns{
  margin: 20px 10px 10px 0px;
}

h2{
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    padding: 10px 30px;
    margin: 10px 15px 30px 0px;
}
