<div class="wrapper">
  <div class="block">
      <h2>Reset Password</h2>
      <input type="email" placeholder="Enter Email" class="inp" #passwordResetEmail required />
      <div class="btns">
        <button mat-raised-button color="accent" style="color: white; margin: 20px 10px 10px 17px; border-radius: 25px; height: 40px;" value="Reset Password" (click)="firebaseAuth.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
        <button type="button" routerLink="/login">Sign In</button>
      </div>
  </div>

</div>





