<mat-toolbar color="primary" *ngIf="auth.isAuthenticated">
  <span><mat-icon>eco</mat-icon> My App</span>

  <div class="spacer"></div>
  <a [routerLink] ="['/dashboard']" mat-raised-button color="accent">Home</a>
  <a [routerLink] ="['/userdata1']" mat-button>Profile</a>
  <a [routerLink] ="['/employee-list']" mat-button>CRUD</a>
  <a [routerLink] ="['/AgGridComponent']" mat-button>AgGrid</a>
  <a [routerLink] ="['/InterceptorComponent']" mat-button>Interceptor</a>
  <a  (click)="logOut()" [routerLink] ="['/login']" mat-button>Sign Out</a>

 </mat-toolbar>
<router-outlet></router-outlet>
