<mat-toolbar color="primary" *ngIf="auth.isAuthenticated">
  <span><mat-icon>eco</mat-icon> {{'MY APP' | translate}}</span>

  <div class="spacer"></div>
  <a [routerLink] ="['/dashboard']" mat-raised-button color="accent">{{'HOME' | translate}}</a>
  <a [routerLink] ="['/userdata1']" mat-button>{{'PROFILE' | translate}}</a>
  <a [routerLink] ="['/employee-list']" mat-button>{{'CRUD' | translate}}</a>
  <a [routerLink] ="['/AgGridComponent']" mat-button>{{'AG_GRID' | translate}}</a>
  <a [routerLink] ="['/InterceptorComponent']" mat-button>{{'INTERCEPTOR' | translate}}</a>
  <a  (click)="logOut()" [routerLink] ="['/login']" mat-button>{{'SIGN OUT' | translate}}</a>

 </mat-toolbar>

<router-outlet></router-outlet>
